#textf {
    height: 100px;
    text-align: left;

}



#createPost {
    background-color: #1c3b62;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

div~label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}