html, body {
    height: 100%;
}

.container{

    height:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}










#textf{
    height: 100px;
    text-align: left;
    
}



#createPost {
    background-color: #1c3b62;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    display: none;
}

.logo{
    align-self: flex-end;
}




