html {
    background-color: #f0f0f0;
}

body {
    margin: 0;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

header {
    background-color: #ccc;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links a,
.header-links p {
    margin: 0 10px;
}

.header-links a:hover {
    color: rgb(113, 137, 173);
}


.home-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.content-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 60px;
    flex: 1;
}

.content-box {
    background-color: #ddd;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 50%;
}

.content-box a {
    color: #007BFF;
    text-decoration: none;
}

.content-box p {
    margin: 10px 0;
    font-family: Arial, sans-serif;
}