.content-box {
    width: 50%;
    margin-bottom: 1em;
}

.content-box div {
    display: flex;
    justify-content: space-between;
}

.content-box p {
    text-align: start;
}

img+p {
    padding-bottom: 1em;
    font-style: italic;
}

footer {
    background-color: #868da0;
    position: relative;
    width: 100%;
    padding: 0.7em;
}