.container1 {
    display: flex;
}

.header {
    text-align: left;

}

.box {

    height: 100%;
    border-radius: 10%;
}

#box1 {
    height: 100%;
    width: 25%;
    background-color: blue;
}

#box2 {
    height: 100%;
    width: 50%;
    background-color: rgb(160, 28, 28);
}

#box3 {
    height: 100%;
    width: 25%;
    background-color: rgb(23, 145, 41);
}



h2 {
    font-family: fantasy;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1c3b62;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #274a7f;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #007BFF;
}

.forgot-password:hover {
    text-decoration: underline;
}